<!-- Lista de andamentos do processo com iframe para abrir o arquivo -->

{% load static %} <!--Carregar arquivos estáticos (imagens)-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Andamentos</title>

    <!-- Importação Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Importação do Bootstrap Icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
      body {
        background-color: whitesmoke;
      }
    </style>
    
    <!-- MENU -->
    <nav class="navbar"> <!--Para o menu rolar junto com a página, utilizar: class="navbar fixed-top"-->
        <div class="container-fluid" style="background-color:  #0098DB; height: 70px;">
             <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="" width="60"> <img src="{% static 'img/webger.png' %}" alt="" width="150"></a>
            <!-- <h3 id="text-menu">Controle de Processos</h3> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="background-color: white;">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span><img src="{% static 'img/menu.png' %}" width="30"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" style="background-color: #0098DB;">
              
            <!-- <img src="{% static 'img/pasta.png' %}" alt="" width="40"> -->
            <dt class="nav-item">
              <a class="nav-link active" id="texto-inicio-navbar-menu" aria-current="page" href="{% url 'index' %}"><img src="{% static 'img/home.png' %}" width="30"> Início </a>
            </dt>

              <!-- Autenticação de usuário para ver a opção de menu-->
              {% if user.is_authenticated %} <!--Se o usuário estiver logado(autenticado) mostrar opção 'Logout'--> 

                <dt class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="texto-inicio-navbar-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false" ><img src="{% static 'img/usuario.png' %}" width="30"> <i>{{ user.get_full_name }}</i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static 'img/logout.png' %}" width="30">Sair</a></li> <!--logout-->
                  </ul>
                </dt>
              {% else %} <!-- Senão opção 'Login' -->

              <a class="nav-link active" id="texto-inicio-navbar-menu" aria-current="page" href="{% url 'login' %}"><img src="{% static 'img/login.png' %}" width="30"><b> Login </b></a> <!--login-->

              {% endif %}
              <!-- Fim da autenticação -->

              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <br>

                <!-- Autenticação de usuário para ver a opção de menu -->
                {% if user.is_authenticated %}

                  {% if user.is_superuser %} <!-- Se o usuário for um SuperUsuario(administrador) consegue ver a 'central de usuários' no menu-->
                  <div>
                    <a class="nav-link" id="texto-navbar-menu" href="{% url 'admin:index'  %}" role="button" aria-expanded="false"><img src="{% static 'img/central-usuarios.png' %}" width="30"> Central de Usuários </a>
                  </div>
                  {% endif %}

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="texto-navbar-menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'img/processo.png' %}" width="30"> Processos </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'proc-adm-list' %}"><img src="{% static 'img/tributario.png' %}" width="25"> Processos Administrativos Tributários</a></li>
                    </ul>
                  </li>

                {% endif %}
                <!-- Fim da autenticação -->
              </ul>
            </div>
          </div>
        </div>
      </nav> 
    <!-- Fim Menu -->

</head>
<body>
    <!-- LISTA LATERAL ESQUERDA -->
    <div class="container" style="display: flex; flex-direction: row; float: left;">
        <div style="background-color: whitesmoke;">
            {% for atributo in dados_processo %}
                <h6>Processo: {{ atributo.numero }}</h6>
            {% endfor %}
            <hr>
            <table class="table table-striped" style="width: 250px; font-size: 14px;"> 

              <form method="post" action="{% url 'mesclar_pdf' %}">
                {% csrf_token %}
                {% for andamento in object_list %}
                  <tr>
                    <th>{{ andamento.tipo_andamento }}</th>
                    {% if andamento.arquivo%}
                        <td>
                            <a href="{{ andamento.arquivo.url}}" target="arquivo_andamento"><img src="{% static 'img/pdf.png' %}" width="25"></a>
                        </td>
                        <td><input type="checkbox" name="pdf_selecionados" value="{{ andamento.id }}" id="selecionar"></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif%}
                  </tr>
                {% endfor %}
                <button type="submit" class="btn btn-secondary btn-sm" id="mesclar">Mesclar PDFs</button>
                <br><br>
              </form>
            </table>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <button id="selecionar-todos" class="btn btn-secondary btn-sm">Selecionar Todos</button>
            <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm">Voltar</a>
            <br>
        </div>
        <!-- Fim Lista Lateral -->
        
        <!-- Iframe para abrir o arquivo -->
        <div>
            <iframe name="arquivo_andamento" frameborder="0" height="690px" width="1320px" style="padding: 10px;"></iframe>
        </div>
        <!-- Fim do Iframe -->
    </div>
</body>

    <!-- Importações -->

        <!-- Importação JS do Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <!-- Importação JS do Bootstrap JS  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- Fim Importações -->
</html> 

<!-- Função para selecionar todos os checkbox dos itens da lista -->
<script>
  document.getElementById('selecionar-todos').addEventListener('click', function() {
      var checkboxes = document.querySelectorAll('#selecionar');
      for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = true;
      }
  });
</script>

<!-- Função para destivar e ativar o botão 'Mesclar PDFs', se não existir nenhum checkbox marcado, o botão fica desativado, se algum checkbox for marcado, o botão é ativado novamente -->
<script>
$(document).ready(function() {
    // Desative o botão Mesclar PDFs
    $("#mesclar").prop("disabled", true);

    $("#selecionar-todos").prop("disabled", true);

    // Se a quantidade de checkbox for maior que 1, liberado o botão 'selecionar todos'
    if ($(":checkbox").length > 1) {
      $("#selecionar-todos").prop("disabled", false)
    };
  
    // Botão "Selecionar Todos"
    $("#selecionar-todos").click(function() {
        $(":checkbox").prop("checked", true); // Marcar todos os checkboxes
        $("#mesclar").prop("disabled", false); // Ativar o botão "Mesclar PDFs Selecionados"
    });

    // Adicione um evento de clique para cada checkbox
    $(":checkbox").click(function() {
        // Verifique se algum checkbox está marcado
        if ($(":checkbox:checked").length > 1) {
            $("#mesclar").prop("disabled", false); // Ativar o botão "Mesclar PDFs Selecionados"
        } else {
            $("#mesclar").prop("disabled", true); // Desativar o botão "Mesclar PDFs Selecionados"
        }
    });

});
</script>

<script>
    document.body.style.zoom = "80%"; // Para configurar o zoom da página html, para não ficar grande.
</script>

