<!-- Lista de andamentos do Processo Administrativo-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    <title>Andamentos do Processo</title>
{% endblock %}

{% block conteudo %}  
    <div class="container p-4">
        <div class="card">
            <div class="card-header text-white" style="background-color: #5c5c5c;">
                    <h5 style="text-align: center;">Lista de Andamentos</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {% for atributo in dados_processo %}
                            <h5>Processo: </h5>
                            <h6>{{ atributo.numero }}</h6>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for atributo in dados_processo %}
                            <h5>Município: </h5>
                            <h6>{{ atributo.municipio}}</h6>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h5>Andamento Atual:</h5>
                        <h6>{{ andamento_atual }}</h6>
                    </div>
                    <div class="col">
                        <h5>Funcionário Atual: </h5>
                        <h6>{{ funcionario }}</h6>
                    </div>
                    <div class="col">
                        <h5>Novo</h5>
                        <a href="{% url 'andamento-adm-create' processo_pk %}"><img src="{% static 'img/create-andamento.png' %}" width="30"></a>
                        <!-- O "processo_pk" inserido na url é passado como contexto pela view, ele contem o id(pk) do processo que deve ser passado na url-->
                    </div>
                
                </div>
                <hr>
                <div class="table-responsive">
                    <!-- <br> -->
                    <table class="table table-striped" id="tabela-listar-andamento">
                        <thead>
                            <tr class="table-secondary">
                                <!-- <th>Processo</th> -->
                                <th>Ordem</th>
                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Funcionário</th>
                                <th>Localização</th>
                                <!-- <th>Recebimento</th>
                                <th>Prazo</th> -->
                                {% if user.is_staff %} <!--Membro da equipe = is_staff-->
                                    <th>Usuário</th>
                                    <th>Criado em</th>
                                {% endif %}
                                    <th>Ações</th> 
                                <th>Arquivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for andamento in object_list %}
                            <tr>
                                <td>{{ andamento.ordem }}</td>
                                <td>{{ andamento.data_andamento|date:"d/m/Y" }}</td>
                                <td><b>{{ andamento.tipo_andamento }}</b></td>
                                {% if andamento.funcionario == Null %}
                                <td><!--Campo ficará vazio pois não foi selecionado funcionario --></td>
                                {% else %}
                                <td>{{ andamento.funcionario }}</td>
                                {% endif %}
                                {% if andamento.localizacao_processo == Null %}
                                <td><!--Campo ficará vazio pois não foi selecionado localizacao_processo --></td>
                                {% else %}
                                <td>{{ andamento.localizacao_processo }}</td>
                                {% endif %}
                                <!-- {% if andamento.data_recebimento == Null %}
                                <td></td>
                                {% else %}
                                <td>{{ andamento.data_recebimento|date:"d/m/Y" }}</td>
                                {% endif %} -->
                                <!-- {% if andamento.data_prazo == Null %}
                                <td></td>
                                {% else %}
                                <td>{{ andamento.data_prazo|date:"d/m/Y" }}</td>
                                {% endif%} -->
                                <!-- <td>{{ user.get_full_name }}</td> -->
                                {% if user.is_staff %} <!--Membro da equipe = is_staff-->
                                    <td>{{ andamento.usuario_criador.get_full_name }}</td>
                                    <td>{{ andamento.data_criacao|date:"d/m/Y" }}</td>
                                {% endif%}
                                    <td>
                                        <a href="{% url 'andamento-adm-view' andamento.pk %}"><img src="{% static 'img/olho3.png' %}" width="30"></a>

                                        {% if user.is_staff %} <!--Membro da equipe = is_staff-->
                                            <a href="{% url 'andamento-adm-update' andamento.pk %}"><img src="{% static 'img/botao-editar.png' %}" width="20"></a>
                                        {% endif%}

                                        {% if user.is_superuser %} <!-- Super Usuário -->
                                            <a href="{% url 'andamento-adm-delete' andamento.pk %}"><img src="{% static 'img/excluir.png' %}" width="20"></a>
                                        {% endif%}
                                    </td>
                                    <td>
                                        {% if andamento.arquivo %}
                                            <a href="{{ andamento.arquivo.url }}" target="blank"><img src="{% static 'img/verificar.png' %}" width="20"></a>
                                        {% else %}
                                            <img src="{% static 'img/sem-arquivo.png' %}" width="23">
                                        {% endif %}
                                    </td>

                            {% endfor %}
                            </tbody>
                        
                        </table>
                        <!-- <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm">Voltar</a> -->
                        <a href="{{ url_retorno }}" class="btn btn-secondary btn-sm">Voltar</a>
                    </div>           
                </div>
            </div>
            
    </div>   
{% endblock %}

{% block scripts %}
    <!-- Importação JS da minha 'datatable' -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>
        // Para transformar minha lista em um datatable
        $(document).ready(function(){
            $('#tabela-listar-andamento').DataTable({
                responsive: true,
                "ordering": false, // Remove as opções das colunas de ordenar a tabela.
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 5,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum andamento registrado",
                    "info": "Andamentos Registrados: _TOTAL_",
                    "infoEmpty": "Andamentos Registrados: 0",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ andamentos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum andamento encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

        });
    </script>

    <script>
        function voltar(){
            window.history.back()
        }
    </script>

    <script>
        document.body.style.zoom = "80%"; // Para configurar o zoom da página html, para não ficar grande.
    </script>

{% endblock %}
