<!-- Lista de andamentos do Processo Administrativo-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    <title>Andamentos do Processo</title>
{% endblock %}

{% block conteudo %}  
    <div class="container p-4">
        <div class="card">
            <div class="card-header text-white" style="background-color: #5c5c5c;">
                    <h5 style="text-align: center;">Processo Recebido</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- <br> -->

                    <!-- CÓDIGO DO FILTRO POR MUNICÍPIO AQUI! -->

                    <br>
                    <table class="table table-striped" id="tabela-listar-andamento">
                        <thead>
                            <tr class="table-secondary">
                                <th>Empresa</th>
                                <th>Número do Processo</th>
                                <th>Valor Pago</th>
                                <!-- <th>Data</th> -->
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for processo, valor in processos_recebidos %}
                                <tr>
                                    <td> {{ processo.nome_contribuinte }} </td>
                                    <td> {{ processo.numero }} </td>
                                    <td> R$ {{ valor|join:"" }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                            
                        </table>
                        <!-- <h5>Total Executados: {{ qtd_processos }}</h5> -->
                        <h6>Total Pago: R$ {{ total_pago }}</h6>
                        
                        <br>
                        <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm">Voltar</a>

                    </div>           
                </div>
            </div>
            
    </div>   
{% endblock %}

{% block scripts %}
    <!-- Importação JS da minha 'datatable' -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>
        // Para transformar minha lista em um datatable
        $(document).ready(function(){
            // $('#tabela-listar').DataTable();
        
            // });

            $('#tabela-listar-andamento').DataTable({
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 5,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum processo com recebimento",
                    "info": "Recebidos: _TOTAL_",
                    "infoEmpty": "Recebidos: 0",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ processos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum processo com recebimento",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

        });
    </script>

    <script>
        document.body.style.zoom = "80%"; // Para configurar o zoom da página html, para não ficar grande.
    </script>

{% endblock %}


